In [18]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/anaconda3/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/homebrew/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [1]:
import pandas as pd

/opt/homebrew/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data = pd.read_excel("datasets/01-attendantsheet-sample.xlsx")

In [4]:
data.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Student Attendance Sheet,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Instructor: So Vengleab ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Date: (MM/DD),NaN,NaN,NaN,2025-06-21 00:00:00,2025-06-21 00:00:00,2025-06-28 00:00:00,2025-06-28 00:00:00,2025-07-05 00:00:00,2025-07-05 00:00:00,...,2025-09-27 00:00:00,2025-09-27 00:00:00,2025-10-04 00:00:00,2025-10-04 00:00:00,2025-10-11 00:00:00,2025-10-11 00:00:00,Total,NaN,NaN,NaN
7,No.,Name,Sex,Course,S1,S2,S3,S4,S5,S6,...,S25,S26,S27,S28,S29,S30,P,E,L,A
8,1,Chan Panha,M,AW,P,P,A,A,P,P,...,E,E,P,P,E,E,12,10,0,8
9,2,Chum Ratanakchentria,F,AW,P,P,E,E,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0,8
10,3,Eang Montra,F,AW,A,A,P,P,L,P,...,P,P,E,E,P,P,23,4,1,2
11,4,Eung Laimeng,M,AW,A,A,E,E,P,P,...,A,A,A,A,A,A,13,6,1,10
12,5,Soeun Kongsovann,M,AW,P,P,E,E,P,P,...,L,P,P,P,P,P,21,4,1,4
13,6,Kril Darith,M,AW,P,P,P,P,P,P,...,L,P,P,P,P,P,25,4,1,0
14,7,Mao Kolbotr Pisssoth,M,AW,L,P,P,P,L,P,...,E,E,A,A,P,P,15,10,3,2
15,8,Ny Clinton,M,AW,P,P,P,P,P,P,...,P,P,P,P,P,P,26,4,0,0
16,9,Phok Keomonnyratanak,M,USB1,NaN,NaN,A,A,L,P,...,A,A,A,A,A,A,3,12,1,12
17,10,Rith Sokha Neadh,M,USB2,NaN,NaN,P,P,P,P,...,A,A,P,P,P,P,20,6,0,2
18,11,Sat Dona,M,USB3,NaN,NaN,L,P,P,P,...,A,A,P,P,P,P,23,2,1,2
19,12,SOPHEAP Neary,M,USB4,NaN,NaN,L,P,L,P,...,A,A,A,A,A,A,12,4,2,10
20,13,Srun Chanmonika,F,USB5,NaN,NaN,L,P,L,P,...,A,A,P,P,P,P,16,8,2,2
21,15,Tem Lyhor,M,USB9,NaN,NaN,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,10
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Legend: ...,NaN,NaN,NaN,P - Present ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,P,5,6,4,4,5,7,...,2,4,4,4,5,5,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,E,0,0,3,3,0,0,...,2,2,1,1,1,1,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,A,2,2,1,1,1,1,...,1,1,2,2,1,1,NaN,NaN,NaN,NaN

In [23]:
start_row = 0
end_row = 0
end_column = 0

In [10]:
total_rows, total_columns = data.shape
total_rows, total_columns

(29, 38)

In [14]:
for row in range(total_rows):
    sequence_num = data.iloc[row, 0]
    print(sequence_num, type(sequence_num))

nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
Date: (MM/DD) <class 'str'>
No. <class 'str'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>
11 <class 'int'>
12 <class 'int'>
13 <class 'int'>
15 <class 'int'>
nan <class 'float'>
nan <class 'float'>
Legend:                                                                                                                                                                      <class 'str'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>
nan <class 'float'>

In [28]:
for row in range(total_rows):
    sequence_num = data.iloc[row, 0]
    if "Date".lower() in str(sequence_num).lower():
        print(f"Found Start Row: {row}")
        start_row = row
    if "legend".lower() in str(sequence_num).lower():
        print(f"Found End Row: {row}")
        end_row = row

Found Start Row: 6
Found End Row: 24

In [31]:
filtered_row_data = data.iloc[start_row:end_row]
filtered_row_data.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Student Attendance Sheet,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
6,Date: (MM/DD),NaN,NaN,NaN,2025-06-21 00:00:00,2025-06-21 00:00:00,2025-06-28 00:00:00,2025-06-28 00:00:00,2025-07-05 00:00:00,2025-07-05 00:00:00,...,2025-09-27 00:00:00,2025-09-27 00:00:00,2025-10-04 00:00:00,2025-10-04 00:00:00,2025-10-11 00:00:00,2025-10-11 00:00:00,Total,NaN,NaN,NaN
7,No.,Name,Sex,Course,S1,S2,S3,S4,S5,S6,...,S25,S26,S27,S28,S29,S30,P,E,L,A
8,1,Chan Panha,M,AW,P,P,A,A,P,P,...,E,E,P,P,E,E,12,10,0,8
9,2,Chum Ratanakchentria,F,AW,P,P,E,E,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0,8
10,3,Eang Montra,F,AW,A,A,P,P,L,P,...,P,P,E,E,P,P,23,4,1,2

In [32]:
filtered_row_data.head(2).T

                                            6       7
Unnamed: 0                      Date: (MM/DD)     No.
Unnamed: 1                                NaN    Name
Unnamed: 2                                NaN     Sex
Unnamed: 3                                NaN  Course
Student Attendance Sheet  2025-06-21 00:00:00      S1
Unnamed: 5                2025-06-21 00:00:00      S2
Unnamed: 6                2025-06-28 00:00:00      S3
Unnamed: 7                2025-06-28 00:00:00      S4
Unnamed: 8                2025-07-05 00:00:00      S5
Unnamed: 9                2025-07-05 00:00:00      S6
Unnamed: 10               2025-07-12 00:00:00      S7
Unnamed: 11               2025-07-12 00:00:00      S8
Unnamed: 12               2025-07-19 00:00:00      S9
Unnamed: 13               2025-07-19 00:00:00     S10
Unnamed: 14               2025-07-26 00:00:00     S11
Unnamed: 15               2025-07-26 00:00:00     S12
Unnamed: 16               2025-08-02 00:00:00     S13
Unnamed: 17               2025-08-02 00:00:00     S14
Unnamed: 18               2025-08-09 00:00:00     S15
Unnamed: 19               2025-08-09 00:00:00     S16
Unnamed: 20               2025-08-16 00:00:00     S17
Unnamed: 21               2025-08-16 00:00:00     S18
Unnamed: 22               2025-08-23 00:00:00     S19
Unnamed: 23               2025-08-23 00:00:00     S20
Unnamed: 24               2025-09-06 00:00:00     S21
Unnamed: 25               2025-09-06 00:00:00     S22
Unnamed: 26               2025-09-13 00:00:00     S23
Unnamed: 27               2025-09-13 00:00:00     S24
Unnamed: 28               2025-09-27 00:00:00     S25
Unnamed: 29               2025-09-27 00:00:00     S26
Unnamed: 30               2025-10-04 00:00:00     S27
Unnamed: 31               2025-10-04 00:00:00     S28
Unnamed: 32               2025-10-11 00:00:00     S29
Unnamed: 33               2025-10-11 00:00:00     S30
Unnamed: 34                             Total       P
Unnamed: 35                               NaN       E
Unnamed: 36                               NaN       L
Unnamed: 37                               NaN       A

In [34]:
total_columns

38

In [36]:
for column in range(total_columns):
    column_header = filtered_row_data.iloc[0, column]
    if str(column_header).lower() == "total".lower():
        print(f"Found End Column: {column}")
        end_column = column

Found End Column: 34

In [38]:
filtered_row_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Student Attendance Sheet,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
6,Date: (MM/DD),NaN,NaN,NaN,2025-06-21 00:00:00,2025-06-21 00:00:00,2025-06-28 00:00:00,2025-06-28 00:00:00,2025-07-05 00:00:00,2025-07-05 00:00:00,...,2025-09-27 00:00:00,2025-09-27 00:00:00,2025-10-04 00:00:00,2025-10-04 00:00:00,2025-10-11 00:00:00,2025-10-11 00:00:00,Total,NaN,NaN,NaN
7,No.,Name,Sex,Course,S1,S2,S3,S4,S5,S6,...,S25,S26,S27,S28,S29,S30,P,E,L,A
8,1,Chan Panha,M,AW,P,P,A,A,P,P,...,E,E,P,P,E,E,12,10,0,8
9,2,Chum Ratanakchentria,F,AW,P,P,E,E,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0,8
10,3,Eang Montra,F,AW,A,A,P,P,L,P,...,P,P,E,E,P,P,23,4,1,2
11,4,Eung Laimeng,M,AW,A,A,E,E,P,P,...,A,A,A,A,A,A,13,6,1,10
12,5,Soeun Kongsovann,M,AW,P,P,E,E,P,P,...,L,P,P,P,P,P,21,4,1,4
13,6,Kril Darith,M,AW,P,P,P,P,P,P,...,L,P,P,P,P,P,25,4,1,0
14,7,Mao Kolbotr Pisssoth,M,AW,L,P,P,P,L,P,...,E,E,A,A,P,P,15,10,3,2
15,8,Ny Clinton,M,AW,P,P,P,P,P,P,...,P,P,P,P,P,P,26,4,0,0
16,9,Phok Keomonnyratanak,M,USB1,NaN,NaN,A,A,L,P,...,A,A,A,A,A,A,3,12,1,12
17,10,Rith Sokha Neadh,M,USB2,NaN,NaN,P,P,P,P,...,A,A,P,P,P,P,20,6,0,2
18,11,Sat Dona,M,USB3,NaN,NaN,L,P,P,P,...,A,A,P,P,P,P,23,2,1,2
19,12,SOPHEAP Neary,M,USB4,NaN,NaN,L,P,L,P,...,A,A,A,A,A,A,12,4,2,10
20,13,Srun Chanmonika,F,USB5,NaN,NaN,L,P,L,P,...,A,A,P,P,P,P,16,8,2,2
21,15,Tem Lyhor,M,USB9,NaN,NaN,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,10
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

34

In [ ]:
attendant_datasets = filtered_row_data.iloc[:, :end_column]
attendant_datasets = attendant_datasets[attendant_datasets.iloc[:, 0].notna()]
attendant_datasets.head()