In [1]:
import pandas as pd
import numpy as np

- [1. Exploring The Dataset](#a)
    - [1.1 Load The Datset](#1.1)
    - [1.2 Data Description](#1.2)
- [2. Data Cleaning](#2)
    - [2.1 Missing Value](#2.1)
    - [2.2 Duplicated](#2.2)
    - [2.3 Outliter](#2.3)

## 1. Exploring the datasert
### 1.1 Load the Dataset

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Data_analysis_with_pandas/main/Data/Ecommerce%20Purchases.csv')
df.head(1).T
## using github link for load the data

                                                                  0
Address           16629 Pace Camp Apt. 448\nAlexisborough, NE 77...
Lot                                                           46 in
AM or PM                                                         PM
Browser Info      Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
Company                                             Martinez-Herman
Credit Card                                        6011929061123406
CC Exp Date                                                   02/20
CC Security Code                                                900
CC Provider                                            JCB 16 digit
Email                                             pdunlap@yahoo.com
Job                          Scientist, product/process development
IP Address                                          149.146.147.205
Language                                                         el
Purchase Price                                                98.14

Check first 5 rows of the dataset

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

check last 5 rows of the dataset

In [4]:

df.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

Check type of the dataset

In [5]:

print(df.dtypes)

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object


Check null values in the dataset

In [6]:
print(df.isnull().sum())

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64


5. How many rows and columns are there in our Dataset?

In [ ]:
print(df.shape)
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

(10000, 14)
Number of rows: 10000
Number of columns: 14


6. Highest and Lowest Purchase Prices.

In [ ]:
highest_price = df['Purchase Price'].max()
lowest_price = df['Purchase Price'].min()
print(f"Highest Purchase Price: {highest_price}")
print(f"Lowest Purchase Price: {lowest_price}")

Highest Purchase Price: 99.99
Lowest Purchase Price: 0.0


7. Average Purchase Price

In [ ]:
avg_price = df['Purchase Price'].mean()
print(f"Average Purchase Price: {avg_price}")

Average Purchase Price: 50.347302


8. How many people have French 'fr' as their Language?

In [10]:
row, _= df[df["Language"] == 'fr'].shape
row

1097

9. How many languages people have in total

In [ ]:
total_languages = df['Language'].nunique()
print(f"Total number of languages: {total_languages}")

Total number of languages: 9


9. Job Title Contains Engineer or engineer

In [ ]:
engineer_count = df[df['Job'].str.contains('engineer', case=False)].shape[0]
print(f"Number of people with 'engineer' in their job title: {engineer_count}")

Number of people with 'engineer' in their job title: 984

How many number of people have job as manager?

In [ ]:
manager_count = df[df['Job'].str.contains('manager', case=False)].shape[0]
print(f"Number of people with 'manager' in their job title: {manager_count}")

Number of people with 'manager' in their job title: 785


10. Find The Email of the person with the following IP Address: 132.207.160.22

In [ ]:
target_ip = '132.207.160.22'
target_email = df[df['IP Address'] == target_ip]['Email'].values[0]
print(f"Email of the person with IP address {target_ip}: {target_email}")

Email of the person with IP address 132.207.160.22: amymiller@morales-harrison.com


11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50?

In [ ]:
mastercard_count = df[(df['CC Provider'] == 'Mastercard') & (df['Purchase Price'] > 50)].shape[0]
print(f"Number of people with Mastercard as their credit card provider and purchase price above 50: {mastercard_count}")

Number of people with Mastercard as their credit card provider and purchase price above 50: 405


12. Find the email of the person with the following Credit Card Number: 4664825258997302

In [ ]:
email_cc_number = df[df['Credit Card'] == 4664825258997302]['Email'].values[0]
print(f"Email of the person with Credit Card Number 4664825258997302: {email_cc_number}")

Email of the person with Credit Card Number 4664825258997302: bberry@wright.net


13. How many people purchase during the AM and how many people purchase during PM?

In [ ]:
df['AM'] = df['AM or PM'].str.contains('AM')
df['PM'] = df['AM or PM'].str.contains('PM')
am_count = df['AM'].sum()
pm_count = df['PM'].sum()
print(f"Number of people who made purchases during the AM: {am_count}")
print(f"Number of people who made purchases during the PM: {pm_count}")

Number of people who made purchases during the AM: 4932
Number of people who made purchases during the PM: 5068


14. How many people have a credit card that expires in 2020?

In [ ]:
expired_2020 = df[df['CC Exp Date'].str.endswith('20')]
print(f"Number of people with credit cards that expire in 2020: {len(expired_2020)}")

Number of people with credit cards that expire in 2020: 988


15. What are the top 5 most popular email providers (e.g. [gmail.com](http://gmail.com/), [yahoo.com](http://yahoo.com/), etc...)

In [ ]:
domains = df['Email'].str.split('@').str[1]
top_5_providers = domains.value_counts().head(5)
print(top_5_providers)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64