<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part I. Filtering and Sorting Data </h2>

<i>Example 1. Import the necessary libraries</i>

In [1]:
import pandas as pd

<i>Example 2. Import the dataset from the local file </i>

In [2]:
order_list = pd.read_csv('./order_list.csv', sep = '\t')

<b>Exercise 1. Display the first 5 orders of the dataset.</b>

In [3]:
order_list.head()

,id,quantity,food,description,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<b>Exercise 2. What is the number of rows in the dataset?</b>

In [4]:
print(order_list.shape)
rows = order_list.shape
print(f"Number of rows: {rows}")

(4622, 5)
Number of rows: (4622, 5)

<b>Exercise 3. What is the number of columns in the dataset?</b>

In [5]:
print(order_list.shape)
columns = order_list.shape
print(f"Number of columns: {columns}")

(4622, 5)
Number of columns: (4622, 5)

<b>Exercise 4. Display the name of each column.</b>

In [6]:
print(order_list.columns)

Index(['id', 'quantity', 'food', 'description', 'unit_price'], dtype='object')

<b>Exercise 5. Display the <i>"food"</i> which has the highest number of orders?

In [7]:
food_counts = order_list['food'].value_counts()
most_ordered_food = food_counts.idxmax()
print(f"The food with the highest number of orders is: {most_ordered_food}")
print(f"Number of orders: {food_counts[most_ordered_food]}")

The food with the highest number of orders is: Chicken Bowl
Number of orders: 726

<b>Exercise 5. How many items were ordered for the most-ordered item?

In [ ]:
most_ordered_food_count = food_counts[most_ordered_food]
print(f"Number of items ordered for the most-ordered food: {most_ordered_food_count}")

Number of items ordered for the most-ordered food: 726

<b>Exercise 6. Display the <i>"description"</i> which has the highest number of orders?</b>

In [9]:
description_counts = order_list['description'].value_counts()
most_ordered_description = description_counts.idxmax()
print(f"The description with the highest number of orders is: {most_ordered_description}")
print(f"Number of orders: {description_counts[most_ordered_description]}")

The description with the highest number of orders is: [Diet Coke]
Number of orders: 134

<b>Exercise 7. How many foods ordered in total?</b>

In [10]:
total_foods = order_list['food'].value_counts().sum()
print(f"Total number of foods ordered: {total_foods}")

Total number of foods ordered: 4622

<b>Exercise 8. Calculate the total income for the period in the dataset?</b>

In [11]:
order_list['unit_price'] = order_list['unit_price'].str.replace('$', '', regex=False).astype(float)
order_list['line_total'] = order_list['unit_price'] * order_list['quantity']
total_income = order_list['line_total'].sum()
total_orders = order_list['id'].nunique()
average_order_value = total_income / total_orders
print(f"Total Income: ${total_income:,.2f}")
print(f"Total Unique Orders: {total_orders}")
print(f"Average Spend per Order: ${average_order_value:,.2f}")

Total Income: $39,237.02
Total Unique Orders: 1834
Average Spend per Order: $21.39

<b>Exercise 9. Find the total number of orders.</b>

In [12]:
total_orders = order_list['id'].nunique()
print(total_orders)

1834

<b>Exercise 10. Find the average income for each order?</b>

In [13]:
order_list['line_total'] = order_list['quantity'] * order_list['unit_price']
order_totals = order_list.groupby('id')['line_total'].sum()
average_order_value = order_totals.mean()
print(f"The average income for each order is: ${average_order_value:,.2f}")

The average income for each order is: $21.39

<b>Exercise 11. How many different foods are ordered?</b>

In [14]:
unique_foods = order_list['food'].nunique()
print(f"Number of unique foods ordered: {unique_foods}")

Number of unique foods ordered: 50