<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part IV. Merging files </h2>

<i>Example 1. Import the necessary libraries</i>

In [10]:
import pandas as pd
import numpy as np

<b>Exercise 1. Create the 3 dictionaries with the given attributes like the followings:</b><br>

|<b></b>|<b></b>|
|---|---|
|<b><center>data1</center></b><img src="data1.png" alt="student" style="width:3cm;height:4cm" />|<b><center>data2</center></b><img src="data2.png" alt="student" style="width:3cm;height:2.5cm" />|
|<b><center>data3</center></b><img src="data3.png" alt="student" style="width:2.25cm;height:3.75cm" />|<b><center>data4</center></b><img src="data4.png" alt="student" style="width:3cm;height:4cm" />|

In [11]:
student_data = {
    "student_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
    "first_name": [
        "Mony", "Nana", "Ray", "Alice", "Ratanak", "Nara", "Ratana", 
        "Roth", "Rith", "Johnny", "John", "Frank", "James", "Tom", "Jennifer"
    ],
    "last_name": [
        "Sopheak", "Tanaka", "Allen", "May", "Sam", "Kun", "Vann", 
        "Sovann", "Harrison", "Cole", "Bond", "Little", "Collar", "Brune", "Stone"
    ]
}
subject_data = {
    "subject_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "subject_name": [
        "Math", "Geography", "History", "Literature", "Research", 
        "IT", "Moral", "Art", "Earth Science", "Physics"
    ]
}
test_score_data = {
    "student_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "subject_id": [1, 3, 7, 8, 5, 4, 2, 7, 1, 6],
    "test_score": [55, 75, 65, 93, 76, 80, 77, 81, 63, 89]
}

<b>Exercise 2. Create the 3 DataFrames from the dictionaries.</b>

In [12]:
df_students = pd.DataFrame(student_data)
df_subjects = pd.DataFrame(subject_data)
df_scores = pd.DataFrame(test_score_data)

<b>Exercise 3. Concat data1 and data2 Dataframes placing the data2 under data1.</b>

In [13]:
all_students = pd.concat([df_students, df_subjects])
all_students = all_students.reset_index(drop = True)
print(all_students)

    student_id first_name last_name  subject_id   subject_name
0          1.0       Mony   Sopheak         NaN            NaN
1          2.0       Nana    Tanaka         NaN            NaN
2          3.0        Ray     Allen         NaN            NaN
3          4.0      Alice       May         NaN            NaN
4          5.0    Ratanak       Sam         NaN            NaN
5          6.0       Nara       Kun         NaN            NaN
6          7.0     Ratana      Vann         NaN            NaN
7          8.0       Roth    Sovann         NaN            NaN
8          9.0       Rith  Harrison         NaN            NaN
9         10.0     Johnny      Cole         NaN            NaN
10        11.0       John      Bond         NaN            NaN
11        12.0      Frank    Little         NaN            NaN
12        13.0      James    Collar         NaN            NaN
13        14.0        Tom     Brune         NaN            NaN
14        15.0   Jennifer     Stone         NaN            NaN
15         NaN        NaN       NaN         1.0           Math
16         NaN        NaN       NaN         2.0      Geography
17         NaN        NaN       NaN         3.0        History
18         NaN        NaN       NaN         4.0     Literature
19         NaN        NaN       NaN         5.0       Research
20         NaN        NaN       NaN         6.0             IT
21         NaN        NaN       NaN         7.0          Moral
22         NaN        NaN       NaN         8.0            Art
23         NaN        NaN       NaN         9.0  Earth Science
24         NaN        NaN       NaN        10.0        Physics

<b>Exercise 4. Concat data1 and data2 Dataframes placing the data2 on the right side of data1.</b>

In [14]:
def_horizontal = pd.concat([df_students, df_subjects], axis = 1)
print(def_horizontal)

    student_id first_name last_name  subject_id   subject_name
0            1       Mony   Sopheak         1.0           Math
1            2       Nana    Tanaka         2.0      Geography
2            3        Ray     Allen         3.0        History
3            4      Alice       May         4.0     Literature
4            5    Ratanak       Sam         5.0       Research
5            6       Nara       Kun         6.0             IT
6            7     Ratana      Vann         7.0          Moral
7            8       Roth    Sovann         8.0            Art
8            9       Rith  Harrison         9.0  Earth Science
9           10     Johnny      Cole        10.0        Physics
10          11       John      Bond         NaN            NaN
11          12      Frank    Little         NaN            NaN
12          13      James    Collar         NaN            NaN
13          14        Tom     Brune         NaN            NaN
14          15   Jennifer     Stone         NaN            NaN

<b>Exercise 5. Merge the result in <i>Exercise 3</i> with data4 and display the result.</b>

In [16]:
df_all_students = pd.concat([df_students, df_subjects], ignore_index = True)
final_result = pd.concat([df_all_students, df_scores], axis = 1)
print(final_result)

    student_id first_name last_name  subject_id   subject_name  student_id  \
0          1.0       Mony   Sopheak         NaN            NaN         1.0
1          2.0       Nana    Tanaka         NaN            NaN         2.0
2          3.0        Ray     Allen         NaN            NaN         3.0
3          4.0      Alice       May         NaN            NaN         4.0
4          5.0    Ratanak       Sam         NaN            NaN         5.0
5          6.0       Nara       Kun         NaN            NaN         6.0
6          7.0     Ratana      Vann         NaN            NaN         7.0
7          8.0       Roth    Sovann         NaN            NaN         8.0
8          9.0       Rith  Harrison         NaN            NaN         9.0
9         10.0     Johnny      Cole         NaN            NaN        10.0
10        11.0       John      Bond         NaN            NaN         NaN
11        12.0      Frank    Little         NaN            NaN         NaN
12        13.0      James    Collar         NaN            NaN         NaN
13        14.0        Tom     Brune         NaN            NaN         NaN
14        15.0   Jennifer     Stone         NaN            NaN         NaN
15         NaN        NaN       NaN         1.0           Math         NaN
16         NaN        NaN       NaN         2.0      Geography         NaN
17         NaN        NaN       NaN         3.0        History         NaN
18         NaN        NaN       NaN         4.0     Literature         NaN
19         NaN        NaN       NaN         5.0       Research         NaN
20         NaN        NaN       NaN         6.0             IT         NaN
21         NaN        NaN       NaN         7.0          Moral         NaN
22         NaN        NaN       NaN         8.0            Art         NaN
23         NaN        NaN       NaN         9.0  Earth Science         NaN
24         NaN        NaN       NaN        10.0        Physics         NaN

    subject_id  test_score
0          1.0        55.0
1          3.0        75.0
2          7.0        65.0
3          8.0        93.0
4          5.0        76.0
5          4.0        80.0
6          2.0        77.0
7          7.0        81.0
8          1.0        63.0
9          6.0        89.0
10         NaN         NaN
11         NaN         NaN
12         NaN         NaN
13         NaN         NaN
14         NaN         NaN
15         NaN         NaN
16         NaN         NaN
17         NaN         NaN
18         NaN         NaN
19         NaN         NaN
20         NaN         NaN
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN

<b>Exercise 6. How many points does Johnny Cole get in the test? Display the information, score and subjects of Johnny Cole.</b>

In [19]:
df_all_students = pd.concat([df_students, df_subjects], ignore_index=True)
full_report = df_all_students.merge(df_scores, on='student_id')
johnny_info = full_report[(full_report['first_name'] == 'Johnny') & 
                          (full_report['last_name'] == 'Cole')]
print(johnny_info[['first_name', 'last_name', 'test_score', 'subject_name']])

  first_name last_name  test_score subject_name
9     Johnny      Cole          89          NaN

<b>Exercise 7. Which subject does Nara Kun take the test on? Display the information, score and subjects of Nara Kun.

In [20]:
df_all_students = pd.concat([df_students, df_subjects], ignore_index=True)

# 2. Merge with scores and subject names
full_report = df_all_students.merge(df_scores, on='student_id')

# 3. Filter for Nara Kun
nara_info = full_report[(full_report['first_name'] == 'Nara') & 
                        (full_report['last_name'] == 'Kun')]

# 4. Display the requested attributes
print(nara_info[['student_id', 'first_name', 'last_name', 'subject_name', 'test_score']])

   student_id first_name last_name subject_name  test_score
5         6.0       Nara       Kun          NaN          80

<b>Exercise 8. Which subject does Mony Sopheak and James Collar take the test on? Display the information, score and subjects of the two students.

In [21]:
df_all_students = pd.concat([df_students, df_subjects], ignore_index=True)
full_report = df_all_students.merge(df_scores, on='student_id', how='left')
target_students = [('Mony', 'Sopheak'), ('James', 'Collar')]
mask = (full_report['first_name'].isin(['Mony', 'James'])) & (full_report['last_name'].isin(['Sopheak', 'Collar']))
result = full_report[mask]

print(result[['student_id', 'first_name', 'last_name', 'subject_name', 'test_score']])

    student_id first_name last_name subject_name  test_score
0          1.0       Mony   Sopheak          NaN        55.0
12        13.0      James    Collar          NaN         NaN